* {
    font-family: AdobeInvisFont,Courier,OpenSans, sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;

}
/*<!--    top_navigation---------------------------------------------->*/
.top_block {
    width: 100%;
    text-align: center;
    padding-bottom: 140px;
    background: rgba(0, 0, 0, 0.5) url("../img/bg_1.jpeg") fixed bottom;
    /*background-attachment: fixed;*/
    background-blend-mode: darken;
    background-size: 100%;
    color: #f1f1f1;
}
.top_navigation {
    display: flex;
    justify-content: space-between;
    flex: 30% 50% 10%;
    width: 100%;
    padding: 31px;
}
.top_logo {
    display: flex;
 }

.top_menu_items {
    margin-left: 37px;
    list-style: none;
}

.top_menu_items a{
    color: #f1f1f1;
}
.top_menu_block, .search_icon  {
    padding-top: 12px;
}

.logo_text {
    margin: 0;
    padding: 15px 0 0 10px;
    font-size: 22pt;
    font-weight: bold;
    color: white;
}
.top_menu {
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
}
.top_menu_items:hover a {
    color: #00cbf6;
  }


.top_content_text {
    font-weight: 500;
    font-size: 27pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    padding-bottom: 41px;
}
.search_icon:hover {
    color: #00cbf6;
    cursor: pointer;
}
.top_content_buttons {
    text-align: center;

}

.button {
    text-decoration: none;
    display: inline-block;
    width: 170px;
    height: 55px;
    color: white;
    border-radius: 5px;
    margin-right: 28px;
    font-size: 18px;
    padding-top: 19px;
}
.button:hover {
    box-shadow: 0 0 6px #a7bcff;

}
.green {
    background-color: #89ca62;
}

.blue {
    background-color: #14b9d5;
}

/*----------------------Most popular post--------------------------*/
.Popular_Post_block {
    padding: 43px 0 72px 0;
    background-color: #f2f2f2;
}
.header_of_block {
    margin: 0 auto;
    text-align: center;
    font-size: 27px;
    color: #18b4cf;
}

.container.Popular_Post {
    margin-top: 52px;
    column-count: 3;
    width: 1160px;
  }
.link_Popular_Post:hover * {
    color: #00cbf6;

}
.link_Popular_Post {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #353a3d;
    font-size: 18px;
    font-weight:700;
}

.img_Popular_Post {
 width: 100%;
}

.title_Popular_Post {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
    display: inline-flex;
}

.span_header {
    padding: 20px 0;
    margin: 0 auto;
}
/*---------------Our Client---------------------*/
.Our_Clients_block {
    padding: 210px 0;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5) url("../img/bg_2.jpeg") top fixed;
}
.Our_Clients_text {
    padding-bottom: 118px;
    position: relative;
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.Our_Clients_text::after {
    position: absolute;
    left: 48%;
    bottom: 40px;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 0 auto;
}

.Our_Clients_logos {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }


/*-----------------------------Top Rated---------------------*/
.Top_rated_bock {
    padding: 60px 0;
    width: 100%;
}
.Top_rated_gallery {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 190px;
}

/*<!---------------------------Hot News-------------------------->*/
.Hot_News_block {
    padding: 60px 0;
    width: 100%;
}

.container.Hot_News_gallery {
    text-align: center;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 40px;
}

.Hot_News_gallery a {
    width: 100%;
    border: 1px red;
}
.Hot_News_link {
    display: flex;
    height: 100%;
    width: 100%;
}

.Hot_News_link:hover {
box-shadow: 5px 5px 5px #a7bcff;
}

.item_text_box {
    background-color: #f9f7f7;
    padding: 0 24px;

}
.item_title {
    font-size: 14pt;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    font-weight: bold;
}

.item_title.center {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}
.item_text {
    font-size: 12pt;
    color: rgba(91, 100, 105, 0.7);
    text-align: right;
}
.item-1 {
    grid-column: 1/4;
   }

.item-2 {
    flex-direction: column;
   }

.item-2 img {
    height: 90%;
    width: 100%;
}

.item-3 {
    grid-column: 1/3;
    flex-direction: column;

}
.item-4 {
    grid-column: 3/5;
    flex-direction: column;
}
.item-5 {
    grid-column: 1/3;
    flex-direction: column;
}
.item-6 {
    grid-column: 3/5;
    flex-direction: column;
}
.item-7 {
    display: flex;
    flex-direction: column;
}
.item-7 img {
    height: 90%;
    width: 100%;
}
.item-8 {
    grid-column: 2/5;
 }

/*<!-------------------------------Footer--------------->*/

.footer_block {
    background-color: #1d2124;
    display: flex;
    padding: 25px;
    width: 100%;
}
.footer_text {
    padding-top: 10px;
    width: 60%;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.footer_logo {
    width: 40%;
    text-align: left;
    padding-left: 300px;
  }